.createAccoutEnding{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family :Gilroy-Regular;
    color:#444F60;
}

.createAccoutEnding a {
    text-decoration:none;
    color:#444F60;
}



.createAccount{
    height:48px;
    width:100%;
    display:flex;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
/* button */

box-shadow: 0px 4px 20px rgba(50, 145, 255, 0.3);
border-radius: 33px;
align-items: center;
justify-content:center;
font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: 0.33913px;

color: #FFFFFF;
text-decoration: none;
outline:none;
border:none;
cursor:pointer


}


.agreementSection{
    display:flex;
    width:100%;
    justify-content:space-between;
    color:#999999;

}
.agreementSection div{
    margin-left:10px;

}

.ErrorMsg{
    color:red
}

.siginContainer{
       width:100% !important;
       height:auto !important;
       border: 1px solid rgba(126, 139, 182, 0.3) !important;
box-sizing: border-box;
border-radius: 8px;
padding-left:5px !important;
padding-bottom:10px !important;
  margin-bottom:10px;

        }
        
       .formContainer{
    width:100%;
}

.disableInputStyle:before{
    border:none !important;
}
.disableInputStyle:after{
    border:none !important;
}

.labelName{
    color:grey !important;
    margin-top:4px;
    margin-left:5px;
   
}

.inputNameField{
    margin-bottom:10px;
}


@media(max-width:350px){
    .siginContainer{
        width:80%;
        margin-left: auto;
        margin-right:auto;
        font-size:12px

    }
     .formContainer{
          width:80%;
        margin-left: auto;
        margin-right:auto;
        font-size:12px

    }

     .createAccount{
          width:80%;
        margin-left: auto;
        margin-right:auto;
        font-size:15px

    }

     .agreementSection{
          width:80%;
        margin-left: auto;
        margin-right:auto;
        font-size:15px

    }
}
 
