.siginContainer{
       width:100% !important;
       height:auto !important;
       border: 1px solid rgba(126, 139, 182, 0.3) !important;
box-sizing: border-box;
border-radius: 8px;
padding-left:5px !important;
padding-bottom:10px !important;
  margin-bottom:10px;

        }
        
       .formContainer{
    width:100%;
}

.disableInputStyle:before{
    border:none !important;
}
.disableInputStyle:after{
    border:none !important;
}

.labelName{
    color:grey !important;
    margin-top:4px;
    margin-left:5px;
   
}

.inputNameField{
    margin-bottom:10px;
}
 
