.CourseComp{
    width:100%;
    height:90%;
    display:flex;
    margin:0px;
    padding:0px;

}
.videoCont{
    width:70%;
    height:100%;
       margin:0px ;
    padding:0px !important;
  
    padding:20px;
    position: relative;
    box-sizing: border-box;
}

.videoItem{
    width:100%;
    height:100%;
       margin:0px !important;
    padding:0px;
    object-fit:cover;
    
}

.iconContainer{
    display:flex;
    padding-left:20px;
    padding-right:20px;
    justify-content:space-between;
    position:absolute;
    width:100%;
    top:10px;
    box-sizing: border-box;
  
  
   

}

.mvBckBtn{
height:48px;
width:48px;
border-radius:48px;
font-size:20px;
display:flex;
align-items:center;
justify-content:center;
color:white;
background: rgba(0, 0, 0, 0.3);
outline:none;
border:none;
cursor:pointer;;
z-index:100
}

.iconItems{
    display:flex;
    align-items:center;
    width: 81px;
    height: 34.71px;
    color:white;
     background: rgba(53, 51, 51, 0.3);
     justify-content: center;
   
     border-radius: 28.2857px;
    
}

.bottomDetails{
    position:absolute;
    bottom:0px;
    box-sizing: border-box;
    width:100%;
    padding:20px;
    
}

.ChatBox{
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:relative;
    z-index:100
   
}

.ProfileBox{
    width:68px;
    height:68px;
    border-radius:10px;
    background-color:#F2F3F8
}

 .inputBox{
    width:50%;
    height:42px;
    background: #FFFFFF;
    border-radius:24px;
    box-sizing: border-box;
}
.inputMesaage{
    width:100%;
    height:100%;
    border:none;
     border-radius:24px;
     outline:none;
     padding-left:20px;
     box-sizing:border-box
}

.sentBox{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
width: 45px;
height: 45px;
border-radius:45px;
display:flex;
align-items:center;
justify-content:center
}

.chatsCont{
    width:30%;
    /* flex:0 0 300px; */
    min-width:300px
}

.btnCont{
    width:100%;
}
.attendees{
    width:50%;
    background:none;
    border:none;
    border-bottom:solid 1px #EEEFF1; 
    outline:none;
    cursor:pointer;
    padding:2px;
    font-family: 'Gilroy';
font-style: normal;
font-size: 14px;
color: #444F60;

}

.chat{
    width:50%;
    background:none;
    border:none;
    border-bottom:solid 1px #EEEFF1; 
    outline:none;
    cursor:pointer;
    padding:2px;
    box-sizing:border-box;
       font-family: 'Gilroy';
font-style: normal;
font-size: 14px;
color: #444F60;
}

.activeButton{
      width:50%;
    background:none;
    border:none;
    border-bottom:solid 1px #758BB5; 
    outline:none;
    cursor:pointer;
    padding:2px;
      box-sizing:border-box;
         font-family: 'Gilroy';
font-style: normal;
font-size: 14px;
color: #444F60;

}

.chatWrapper{
    padding-left:20px;
}

.totalMessage{
    font-family: 'Gilroy-Medium';
font-size: 14px;
color: #444F60;

}


@media(max-width:700px){
    .chatsCont{
        display:none
    }
    .videoCont{
        width:100%;
        height:100%
    }
    .CourseComp{
        height:100%
    }

}

@media(max-width:350px){
    .inputBox{
        width:150px !important;
        font-size:10px;
    }
    .inputMesaage{
          font-size:10px;

    }

}




@media(max-width:400px){
    /* .ProfileBox{
        width:30px;
        height:30px;

    } */
    .iconContainer{
        padding-left:10px;
        padding-right:10px
    }
    .mvBckBtn{
    width:30px;
    height:30px;
    font-size:12px;

}
.views{
      font-size:12px;

}
.iconItems{
    

}
   
    .bottomDetails{
        padding-right:10px;
        padding-left:10px

    }
    .lgActiveUser{
        display:none
    }
    .showMore{
        position:absolute;
        top:-30px;
        left:50%;
        background:none;
        border:none;
        outline:none;
        color:black;
        font-size:12px;
        background-color:white;
        border-radius: 100%;
        /* opacity:0.5; */
        display:flex;
        align-items:center;
        justify-content:center
    }
    .mbChatBoxWrapper{
        margin-bottom:100px;
        padding-left:10px;
        padding-right:10px;
        display:block
    }
  .ProfileBox{
        border: 2px solid rgba(68, 79, 96, 0.2);
        width:40px;
        height:40px;
        border-radius:9px
    }
    .inputBox{
           border: 2px solid rgba(68, 79, 96, 0.2);
           width:200px;
           height:42px;

    }
    .sentBox{
        width:40px;
        height:40px;
        border-radius:45px
    }
    .mbChatWrapper{
        position:absolute;
        width:100%;
        bottom:0px;
        height:auto

    }

    .mbChatCont{
        width:100%;
        height:300px;
      
     
        display:none;
      
    }

    .mbAttended{
        width:100%;
        height:100% !important;
       background-color:white;
        display:block;
        overflow-y:scroll;
        z-index:-1;
        display:block
        
  

    }
    .mbEmptyBox{
        width:100%;
        height:20%;
        background-color:white;
        position:absolute;
        bottom:0px
       
    }
    .mbChatsCont{
            width:100%;
    flex:0 0 300px;

    }

    .activeButton,.attendees,.chat{
        height:50px

    }
  
  
    
}


@media(min-width:700px){
     .chatsCont{
        display:block
    }

}

@media(min-width:400px){
    .showMore{
     display:none !important
    }
    .lgActiveUser{
        display:block
    }
    .mbChatBoxWrapper{
        display:none
    }
.mbAttended{
    display:none
}

}