.registerPageWrapper{
    width:100%;
    height:auto;
    display:flex;
   
    
}

@media(max-width:900px){
    .registerPageWrapper{
        flex-direction: column;
          overflow:scroll;

    }

}