.continueBtn{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
width:100%;

box-shadow: 0px 4px 20px rgba(50, 145, 255, 0.3);
border-radius: 33px;
height:48px;
display:flex;
align-items:center;
justify-content:center;
text-decoration:none;
color:white
}