.bestTeacher{
    width:50%;
    height:100%;
    text-align:center;
 
}
.bestTeacherBottom{
    height:25%;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}

.BestTeacherImgWrapper{
    height:60%;
    width:100%
}

.bestTeacherBgImg{
    width:100%;
    height:100%;
    object-fit: cover;
}

.theBestTeacherHeader{
    font-family: 'Gilroy-SemiBold';
font-size: 24px;


align-items: center;
text-align: center;
letter-spacing: -0.005em;
color: #444F60;


}

.theBestTeacherBtText{
    font-family: 'Gilroy-Regular';
font-size: 14px;



color: #999999;
}

@media(max-width:900px){
    .bestTeacher{
         width:100%;

    }

}

