.confirmComponentWrapper{
    height:100%;
    width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.confirmCompCon{
    width:80%;
    height:80%;

}

.confirmHeader{
    color: #444F60 !important;
    font-size: 32px !important;
    font-family: 'Gilroy-Bold' !important;
    margin-top:20px !important;
    
}

.confirmCompCon p{
    color: #999999;
    font-family: 'Gilroy-Regular';
font-size: 14px;
margin:0px

}

.addSubjectBtn{
    display:flex;
   
    color:#355695
}

.addBtn{
    background:none;
    border:0;
    color:#355695;
    font-size:16px
}

@media(max-width:900px){
    .confirmComponentWrapper{
         width:100%;

    }

}