.createAcctContainer{
    width:50%;
    height:100%;
    box-sizing: border-box;
   
    padding-top:8%;
  

}
.ImgWrapper{
  text-align: center;
   
}

.createTextWrapper{
    width:60%;
    height:80%;
   
    margin-left: auto;
     margin-right: auto;

 
}


.createAccHeader{


font-family: 'Gilroy-Bold';
font-size: 30px;

text-align: center;
letter-spacing: 0.33913px;



color: #444F60;


}

.signInWithGoogle{
    height: 48px;
width: 100%;


border-radius: 33px;
background: #FFFFFF;
border: 1px solid #F2F2F2;
border-radius: 33px;
/* display:block; */
text-align: center;
display: flex;
align-items:center;
justify-content: center;

}
.signUpWithEmail{
    font-family: Gilroy-Medium;
font-size: 14px;


text-align: center;
color: #999999;

display:block;
text-decoration: none;
width: 100%;
}