.createAcctContainer{
    width:50%;
    height:100%;
    box-sizing: border-box;
   
    /* padding-top:1%; */
    display:flex;
    align-items: center;
    justify-content: center;
  

}
.createAcctWrapper{
    width:auto;
    height:auto
}
.ImgWrapper{
  text-align: center;
   
}

.createTextWrapper{
    width:80%;
    height:80%;
   
    margin-left: auto;
     margin-right: auto;

 
}




.createAccHeader{


font-family: 'Gilroy-Bold';
font-size: 30px;

text-align: center;
letter-spacing: 0.33913px;



color: #444F60;


}

.signInWithGoogle{
    height: 48px;
width: 100%;
text-decoration:none;
color:#444F60;
display:flex;
align-items:center;
justify-content:center;


border-radius: 33px;
background: #FFFFFF;
border: 1px solid #F2F2F2;
border-radius: 33px;

text-align: center;
display: flex;
align-items:center;
justify-content: center;
font:Avenir;
font-size:16px

}
.hzRule{
    width:162.5px;
    /* border: 1px solid #F2F2F2; */
    height:2px;
    background-color:#F2F2F2;
    align-self:center;
}
.signInWithGoogle div{
    display:flex;
    height:100%;
    margin-right:10px;
    align-items:center;
}
.signUpWithEmail{
    font-family: Gilroy-Medium;
font-size: 14px;


text-align: center;
color: #999999;

display:flex;
text-decoration: none;
width: 100%;

}

.agreementSection{
    display:flex;
    width:100%;
    justify-content:space-between;
    color:#999999;

}
.agreementSection div{
    margin-left:10px;

}
.createAccount{
    height:48px;
    width:100%;
    display:flex;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
/* button */

box-shadow: 0px 4px 20px rgba(50, 145, 255, 0.3);
border-radius: 33px;
align-items: center;
justify-content:center;
font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: 0.33913px;

color: #FFFFFF;
text-decoration: none;


}
.createAccoutEnding{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family :Gilroy-Regular;
    color:#444F60;
}

.createAccoutEnding a {
    text-decoration:none;
    color:#444F60;
}


@media(max-width:900px){
    .createAcctContainer{
         width:100%;
         height:auto

    }

}

@media(max-width:500px){
    .createTextWrapper{
        width:90%;
    }
}