.indicatorCircle{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
border-radius: 56px;
height: 7.895422458648682px;
width: 8px;

border-radius: 56px;
display: inline-block;
margin: 3px;
cursor:pointer



}

.offIndicatorCircle{
    cursor:pointer;
   
border-radius: 56px;
height: 7.895422458648682px;
width: 8px;

border-radius: 56px;
display: inline-block;
margin: 3px;
background-color:grey

}