.homeMainPage{
    width:80%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.homeMainPageWrapper{
    width:90%;
    height:87%
}

.welcomeMessage{
    display:flex;
    width:100%;
    align-items:center;

}

.circle{
    width: 5px;
height: 5px;
background-color: #415E9A;
border-radius: 5px;

}

.pointGained{
    color: #415E9A;
    font-family: 'Gilroy-SemiBold';
font-size: 14px;

}