.homeMainPage{
    width:85%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #FCFCFC;
        /* overflow-y:scroll !important; */
        box-sizing: border-box;
        overflow-y: scroll;
        /* padding-left:2% */
}

.homeMainPageWrapper{
    width:100%;
    height:100%;
      box-sizing: border-box;
}

.welcomeMessage{
    display:flex;
    width:100%;
    align-items:center;
    background-color:white;
    margin-top:0px !important;
    padding-left:2%;
    box-sizing: border-box !important;

}

.circle{
    width: 5px;
height: 5px;
background-color: #415E9A;
border-radius: 5px;

}

.circleRed{
     width: 10.01px;
height: 10.01px;
 background: #F8286C;;
border-radius: 10px;

}

.pointGained{
    color: #415E9A;
    font-family: 'Gilroy-SemiBold';
font-size: 14px;

}

.welcomeText{
    color: #303030;
    font-family: 'Gilroy-Bold';
font-size: 18px;
}

.upcomingWrapper{
    width:100%;
    height:90%;
    padding-left:1%;
    box-sizing: border-box;
      padding-right:1%;

}

.upcomingWrapperHeader{
    display:flex;
    width:100%;
    
    align-items:center;
}

.upcomingText{
color: #444F60;
font-family: 'Gilroy-Bold';
font-size: 24.0232px;
}

.courseCardCont{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:auto;
    justify-content: space-between;
  
  
  
}

.scheduleText{
    color: #444F60;
    font-family: 'Gilroy-Bold';
   font-size: 18.0174px;
       margin:0px;
}
.nextLesson{
    font-size: 14.0135px;
    font-family: 'Gilroy';
    color: #999999;
       margin:0px;

}

.scheduleCardWrapper{
    display:flex;
    flex-wrap: wrap;

}


.SubjectCont h1{
    font-family: 'Gilroy-Bold';
font-size: 18.0174px;
color: #444F60;
margin: 0px;
}

.SubjectCont p{
font-family: 'Gilroy-Regular';
font-size: 14.0135px;
color: #444F60;
margin: 0px;
}

.subjectCardContainer{
    display:flex;
   
    flex-wrap: wrap;
    height:auto;
    justify-content:space-between
}

.ContinueCard h1{
    font-family: 'Gilroy-Bold';
font-size: 18.0174px;
color: #444F60;
margin:0px
}

.ContinueCard p{
    margin:0px;
    color: #999999;
    font-family: 'Gilroy';
font-style: normal;
font-size: 14px;

}

.continuCardWrap{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content: space-between;
    height:auto
}