.confirmCrsInField{
    display:flex;
    width:100% !important;
    justify-content:space-between;
    align-items:center;
}

.cursToConfirm{
    font-size:18px;
    color:#444F60;
    font-family: 'Gilroy-SemiBold';
}