.sidebarItemsWrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:90%;
    margin-bottom: 25px;
}



.HomeLink{
    text-decoration: none;
       color:#999999 ;
       display:flex;
       align-items:center;
       /* justify-content: space-between; */
       width:80%;
      font-family: 'Gilroy-SemiBold';
font-size: 16px;
    


}
.smHomeLink{
    text-decoration: none;
       color:#999999 ;
       display:flex;
       align-items:center;
       /* justify-content: space-between; */
       width:auto;
      font-family: 'Gilroy-SemiBold';
font-size: 20px;
    


}

.iconColor{
       margin-right:30px;

}
.mobileItemsWrapper{
    width:100%;
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

@media(max-width:920px){
    .sidebarItemsWrapper{
        display:none;
    }
    .mobileItemsWrapper{
        display:flex
    }
}
@media(min-width:920px){
    .sidebarItemsWrapper{
        display:flex;
    }
      .mobileItemsWrapper{
        display:none
    }
}

