
.registerWrapper{
    width:50%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow-y:scroll
}
.formContainer{
      width:70%;
    height:95%;
    
   

}
.registedHeader{
     color: #444F60;
     font-family: 'Gilroy-Bold';
font-size: 32px;
margin:0px

}

.formContainer p{
    font-family: 'Gilroy-Regular';
font-size: 14px;
color: #999999;
}




@media(max-width:900px){
    .registerWrapper{
        width:100%;
        height:auto;
    }
}

@media(max-width:400px){
    .formContainer{
      width:90%;
    }
}