.studyPathPageWrapper{
    width:50%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:center;
 
 
   

    
}

.studyPathContainer{
    height:90%;
    width:80%;
}
.descText{
     color: #999999;
 font-family: 'Gilroy-Regular';
font-size: 14px;
margin: 0;

}

.stdyHeader{
 color: #444F60;
 font-family: 'Gilroy-Bold';
font-size: 32px;
margin: 0;
}

.chooseAPth h1{
color: #273464;
font-family: 'Gilroy-Regular';
font-size: 24px;

}
.continueWrapper{
    display:flex;
    justify-content:center;
    width:100%;
}


@media(max-width:900px){
    .studyPathPageWrapper{
         width:100%;
   
       
      }
    

}

