.loaderCont{
    width:100%;
    display:flex;
    justify-content:center
}


.ErrorMsg{
    color:red;
    position:absolute;
    bottom:-30px;
    width:300px
}




.inputOutline{
    display:flex !important;
    justify-content:center !important;
    height:100%;
    width:100%;
    align-items:center;
    position:absolute !important;
}

@media(max-width:500px){
    .formContainer{
        width:50px !important;
        height:50px  !important;
      
    }
}

@media(max-width:300px){
    .formContainer{
        width:39px !important;
        height:39px  !important;
        padding:0px !important
      
    }
}